/* Este é um comentário de linha */

/* Este é um comentário de bloco
   que pode ocupar várias linhas */

/* Anatomia de uma regra CSS:
    Seletor {
      propriedade: valor;
    } */

/* Exemplo de seletores */

/* Seletores de tipo */

/* h1 {
    color: red;
    text-align: center;
  } */

#cabecalho {
/*     background-image: url("../img/img-01-banner-1280x640.png"); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: cover;
}

/* Seletores de classe */

.link {
    /* font-size: 24px; */
    /* font-size: 24%; */
    /* font-size: 24em; */
    /* font-size: 24rem; */
    /* font-size: 24vw; */
    border: 2px solid #ff0000;
    display: inline-block;
    margin: 0 2%;
    background-color: rgba(255, 0, 0, 0.200);
    padding: 5px 5px;
    width: 15%;
    transition: all 0.3s ease-in-out;

    /* Pseudo-classes */
    &:hover {
        background-color: rgba(255, 0, 0, 0.500);
    }

    /* Nesting elements */
    a {
        display: inline-block;
        text-decoration: none;
        color: #000;

        img {
            display: inline-block;
            width: 25%;
        }
    }
}

/* Seletores de ID */

#menu ul {
    list-style-type: none;
    text-align: center;
}

/* EXERCÍCIO CHECKPOINT */
/* EXERCÍCIO CHECKPOINT */
/* EXERCÍCIO CHECKPOINT */

header {
    background-color: rgb(0, 0, 255);
}

h1 {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    color: rgb(255, 255, 255); /* cor adicionada para melhor visualização do texto, por conta do fundo azul */
}

h2 {
    font-family: "Times New Roman", Times, serif;
}

nav {
    font-weight: bold;
}